@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

::selection {
    background-color: none;
}

html {
    margin: 0 auto;
    padding: unset;
    justify-content: center;
}

body {
    margin: 0 auto;
    padding: unset;
}

.canvasContainer,
.p5Canvas {
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;

}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.Btn {
    all: unset;
    cursor: pointer;
}

input[type=button]:hover {
    transition: 0.1s linear;
    color: skyblue;
}

.play {
    padding: 0 0 0 3px;
    width: 140px;
    height: 70px;
    border: 2px solid powderblue;
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.2s linear;
    color: slategray;
    background-color: white;
    box-shadow: powderblue 0 0 15px;
    opacity: 1;
}

.play:active {
    padding: 0 0 0 3px;
    transform: scale(0.9);
    color: gray;
    border: 2px solid slategray;
    box-shadow: powderblue 0 0 10px;
    opacity: 0.7;
}


.prev,
.next {
    transform: translate(0, -10%);
    padding: 0 20px 0 20px;
    margin: 0 auto;
    color: white;
    font-size: 4.5em;
    font-family: fantasy;
    text-shadow: powderblue 0 0 15px;
    transition: 0.1s linear;

}

input[type=button]:not(.play):active {
    color: skyblue;
    text-shadow: powderblue 0 0 10px;
    opacity: 0.8;
}

.blink{
    
}

.music{
    display: none;
}


